{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'kungfucms - register' %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div id="kf-content" class="kf-content">
        <div id="kf-register" class="kf-register">
            <form action="{% url 'account:register' %}" method="post" id="kf-register-form" class="kf-register-form form-control">
                <div class="form-group">
                    <label for="">{% trans 'username' %}</label>
                    <input type="text" class="form-control">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}