{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Kungfucms - 登录' %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
    <div class="kf-signup-wrap">
        <div class="kf-signup-brand">
            <h2>{% trans '欢迎注册' %}</h2>
        </div>

        {% if message %}
        <div class="kf-signup-message">
            <span class="kf-signup-message-text alerts alert-wsarning d-snone" role="alert">{{ message }}</span>
        </div>
        {% endif %}
        <div class="row justify-content-center kf-signup-row">
            <div class="col-md-3 col-lg-3 col-sm-4 kf-signup-col">
                <h3 class="kf-signup-title">{% trans '注册' %}</h3>

                <form class="kf-signup-form" action="{% url 'account:sign-up' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">{% trans '用户名' %}</label>
                        <input name="username" type="text" class="form-control" id="username"
                               aria-describedby="usernameHelp"
                               placeholder="{% trans '请输入用户名' %}">
                        <div class="alert alert-danger kf-singun-form-tip" role="alert">
                            {% trans '用户名已存在' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">{% trans '密码' %}</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="password">{% trans '确认密码' %}</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="kf-signup-form-submit">
                        <button type="submit"
                                class="btn btn-primary kf-signup-form-submit-button">{% trans '提交' %}</button>

                        <a href="">{% trans '已有账号？点击登录' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
