{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'kungfucms - login' %}
{% endblock %}

{% block head %}
    <script src="{% static 'js/account/sign-in.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="kf-content" class="kf-content row justify-content-md-center my-5">
        <div id="kf-login" class="kf-login col-md-4 bg-light border-success py-4 px-4 rounded">
            <form action="{% url 'account:sign-in' %}" method="post" id="kf-login-form" class="kf-login-form">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="kf-username" class="col-sm-4 col-form-label">{% trans 'Username' %}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="kf-username" placeholder="Username" name="username">
                    </div>

                </div>
                <div class="form-group row ml-3 mr-1 d-none">
                    <div class="alert alert-warning offset-sm-4 col-sm-8 " role="alert">
                        {% trans 'Username already exists' %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="kf-password" class="col-sm-4 col-form-label">{% trans 'Password' %}</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="kf-password" placeholder="Password"
                               name="password">
                    </div>
                </div>
                <div class="form-group row ml-3 mr-1 d-none">
                    <div class="alert alert-warning offset-sm-4 col-sm-8 " role="alert">
                        {% trans 'Username already exists' %}
                    </div>
                </div>
                <div class="form-group row ml-3 mr-1 d-none">
                    <div class="alert alert-warning offset-sm-4 col-sm-8 " role="alert">
                        {% trans 'Username already exists' %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">{% trans 'Remember Me' %}</div>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kf-remembe-me" name="remember_me">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8">
                        <span> Don't have an account ? click <a
                                href="{% url 'account:sign-up' %}">here</a> to sign up.</span>
                    </div>
                </div>
                <div class="form-group row justify-content-center my-4">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">{% trans 'Sign Up' %}</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary">{% trans 'Reset All' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}