{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ kf_language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="CSRF_TOKEN" content="{{ csrf_token }}">
    <meta name="NAME" content="Kungfucms Default Theme">
    <meta name="VERSION" content="0.1">

    <title>{% block title %} kungfucms {% endblock %}</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-4.3.0-dist/css/bootstrap.min.css' %}">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="{% static 'vendors/fontawesome-free-5.7.2-web/css/all.min.css' %}">
    <!-- kungfucms css -->
    <link rel="stylesheet" href="{% static 'css/kungfucms.css' %}">
    <!-- jquery -->
    <script src="{% static  'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'vendors/bootstrap-4.3.0-dist/js/bootstrap.min.js' %}"></script>
    <!-- fontawesome js-->
    <script src="{% static 'vendors/fontawesome-free-5.7.2-web/js/all.min.js' %}"></script>
    <!-- kungfucms base js -->
    <script src="{% static 'js/kungfucms.js' %}"></script>

    {% block head %}{% endblock %}

</head>

{% block body %}
    <body class="container-fluid">
        {% block navbar %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
{% endblock %}

{% block footer %}
{% endblock %}

</html>