{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ kf_language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="CSRF_TOKEN" content="{{ csrf_token }}">
    <meta name="NAME" content="Kungfucms Default Theme">
    <meta name="VERSION" content="0.1">

    <title>{% block title %} kungfucms {% endblock %}</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-4.3.0-dist/css/bootstrap.min.css' %}">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="{% static 'vendors/fontawesome-free-5.7.2-web/css/all.min.css' %}">
    <!-- kungfucms css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- jquery -->
    <script src="{% static  'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'vendors/bootstrap-4.3.0-dist/js/bootstrap.min.js' %}"></script>
    <!-- fontawesome js-->
    <script src="{% static 'vendors/fontawesome-free-5.7.2-web/js/all.min.js' %}"></script>
    <!-- kungfucms js -->
    <script src="{% static 'js/base.js' %}"></script>

    {% block head %}
    {% endblock %}

</head>

{% block body %}

    <body class="container-fluid">
    <header>

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="kf-navbar">
        <a class="navbar-brand" href="http://www.kungfucms.com">{{ kf_site_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#kf-navbar-content"
                aria-controls="kf-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="kf-navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">{% trans 'Home' %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{% trans 'About' %}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% endblock %}
    </header>


    {% block content %}
    {% endblock %}

    </body>

{% endblock %}

{% block footer %}
    <footer>

    </footer>
{% endblock %}

</html>