{% load i18n %}

<footer class="container-fluid kf-footer fixed-bottom">
    <div class="row kf-footer-content justify-content-center">
        <div class="col-3 kf-footer-content-body">
            <header class="kf-footer-content-header">{% trans '最新文章' %}</header>
            <ol>
                <li>
                    <a href="" class="align-content-center">最新文章最新文章最新文章最新文章1</a>
                </li>
                <li>
                    <a href="">最新文章最新文章最新文章最新文章2</a>
                </li>
                <li>
                    <a href="">最新文章最新文章最新文章最新文章3</a>
                </li>
            </ol>
        </div>

        <div class="col-3 kf-footer-content-body">
            <header class="kf-footer-content-header">{% trans '关于我们' %}</header>
            <p>
                关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
            </p>

        </div>

        <div class="col-3 kf-footer-content-body">
            <header class="kf-footer-content-header">{% trans '联系我们' %}</header>
            <div>
                <span>联系电话 :</span>
                <span>13811754531</span>
            </div>
            <div>
                <span>地址 :</span>
                <address>北京市东城区汪芝麻胡同甲168号</address>
            </div>
        </div>
    </div>

    <div class="row kf-footer-bottom" >
        <div class="col-12 kf-footer-bottom-body text-center">
            <span class="">
                <span>备案编号:</span>
                <span><a href="">京IPC备11111号</a></span>
            </span>
            <span class=""><span>备案编号:</span>
                <span><a href="">京IPC备11111号</a></span></span>
            <span class=""><span>备案编号:</span>
                <span><a href="">京IPC备11111号</a></span></span>
        </div>
    </div>
</footer>